.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/tiendamiercoles-eb9e7.appspot.com/o/dddd.jpg?alt=media&token=59972bd4-7c7e-463d-ac7e-c340c7a716b7');

    background-position: top center;
    background-size: cover;
    padding: 5% 30% 40% 20%
}